apiVersion: v1
kind: ConfigMap
metadata:
  name: order-service-config
data:
  sqlserver-connection: "Server=sqlserver-service,1433;Database=OrderDb;User Id=sa;Password=YourStrong!Passw0rd;TrustServerCertificate=True;"

